*.o
*.ko
*.o.ur-safe
*.cache.mk
Module.symvers
*.mod.c
modules.order
.tmp_versions
.vagrant/
*.gen.x
*.gen.h
*.gen.c
*.cmd
*~
src/krfexec/krfexec
src/krfctl/krfctl
src/krfmesg/krfmesg
src/module/codegen/.*.mk
*.bak
example/*
!example/*.{c,h}
